.carousel.carousel-fade .item {
  left: 0 !important;
  -webkit-transition: opacity 1.5s;
   -moz-transition: opacity 1.5s;
    -ms-transition: opacity 1.5s;
     -o-transition: opacity 1.5s;
      transition: opacity 1.5s;
    }
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  opacity:0;
  filter: alpha(opacity=0);
  z-index:2;
}
.carousel.carousel-fade .next.left,
.carousel.carousel-fade .prev.right {
    opacity: 1;
    z-index: 1;
}
.carousel.carousel-fade .carousel-control {
  z-index:3;
}


.carousel-fixed-content {
  position: absolute;
  z-index: 10;
  left: 10%;
  right: 10%;
}

/*
 * class applied to the image style
 */
.simple-slideshow {
 width: 100%;
}
